---
import LegalLayout from "../layouts/LegalLayout.astro";
---

<LegalLayout
    title="COSTOS DE ENVÍO"
    subtitle="Conoce aquí nuestras políticas y costos de envío. Enviamos todos nuestros productos a cualquier parte de Colombia y el resto del mundo."
>
    <h2>1. ENVÍOS NACIONALES</h2>
    <p>
        a. Los costos de envío para Colombia, se calcularán según la cantidad de
        productos a enviar y la ciudad de destino.
    </p>
    <p>
        b. El tiempo de entrega es de máximo 5 días hábiles a partir de la
        confirmación de la transacción.
    </p>

    <h2>2. ENVÍOS INTERNACIONALES</h2>
    <p>
        a. Los costos de envío varían según el destino final del pedido y sus
        características.
    </p>
    <p>
        b. El cliente tendrá que tener en cuenta y asumir el costo de aranceles
        e impuestos que se puedan generar a causa del envío. Adicionalmente, es
        probable que estos costos sean exigidos por las autoridades locales
        antes de entregar el producto al destino final.
    </p>
    <p>c. El tiempo de entrega variará según el destino de la entrega:</p>
    <ul>
        <li>Américas: 25 días hábiles.</li>
        <li>Europa: 45 días hábiles.</li>
        <li>África: 60 días hábiles.</li>
        <li>Asia: 80 días hábiles.</li>
    </ul>

    <p>
        Para mayor información comunícate con nosotros desde la sección de
        Contacto.
    </p>
</LegalLayout>
